In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv("pokemon_data.csv")

**Information Extraction**

In [51]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [52]:
df["Name"][:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [53]:
df[["Name" , "Type 1"]]

                      Name   Type 1
0                Bulbasaur    Grass
1                  Ivysaur    Grass
2                 Venusaur    Grass
3    VenusaurMega Venusaur    Grass
4               Charmander     Fire
..                     ...      ...
795                Diancie     Rock
796    DiancieMega Diancie     Rock
797    HoopaHoopa Confined  Psychic
798     HoopaHoopa Unbound  Psychic
799              Volcanion     Fire

[800 rows x 2 columns]

In [54]:
df.iloc[0:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [55]:
df.iloc[1 , 4]

60

In [56]:
df.loc[df["Type 1"] == "Fire"][:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False

**Sorting/Describing data**

In [57]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [58]:
df.sort_values(["Name" , "HP"] , ascending = [False , True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

**Making Changes to Data**

In [59]:
#New Column
df["Total"] = df["HP"] + df["Attack"] + df["Defense"]
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,143
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,185
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,303
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,134
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,300
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,320
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,250
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,300
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,310

In [60]:
df = df.drop(columns = ["Total"])
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [61]:
df.iloc[: , 4:9].sum(axis = 1)

0      273
1      345
2      445
3      545
4      244
      ...
795    550
796    590
797    530
798    600
799    530
Length: 800, dtype: int64

In [62]:
#Rearrange

cols = list(df.columns)
df = df[cols[:4] + [cols[-1]] + cols[4:12]]
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

**Saving Data**

In [63]:
df.to_csv("modified.csv" , index = False ) #, sep='\t'

**Filtering Data**

In [64]:
# & or |
temp_df = df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison")]
temp_df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,False,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,False,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,False,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,False,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,False,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,False,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,False,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,False,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,False,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,False,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,False,114,85,70,85,80,30,5,False

In [65]:
#Reset Index

temp_df = temp_df.reset_index(drop = False) #True to drop old index
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [66]:
#Regex

df.loc[df["Name"].str.contains("Mega")][:4]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,False,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,False,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,False,79,103,120,135,115,78,1,False

In [67]:
df.loc[~df["Name"].str.contains("Mega")]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,False,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

In [68]:
import re

df.loc[df["Type 1"].str.contains("Fire|Grass" , flags = re.I , regex = True)]

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,False,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

**Conditional Changes**

In [69]:
df.loc[df["Type 1"] == "Fire" , "Type 1"] = "Flamer"
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,True,80,110,120,130,90,70,6,True

In [70]:
df.loc[df["Attack"] > 50 , ["Generation" , "Legendary"]] = "TEST VALUE"
df

C:\Users\thunk\AppData\Local\Temp\ipykernel_14668\3705917037.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'TEST VALUE' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df["Attack"] > 50 , ["Generation" , "Legendary"]] = "TEST VALUE"
C:\Users\thunk\AppData\Local\Temp\ipykernel_14668\3705917037.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'TEST VALUE' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df["Attack"] > 50 , ["Generation" , "Legendary"]] = "TEST VALUE"

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,TEST VALUE,60,62,63,80,80,60,TEST VALUE,TEST VALUE
2,3,Venusaur,Grass,Poison,TEST VALUE,80,82,83,100,100,80,TEST VALUE,TEST VALUE
3,3,VenusaurMega Venusaur,Grass,Poison,TEST VALUE,80,100,123,122,120,80,TEST VALUE,TEST VALUE
4,4,Charmander,Flamer,NaN,TEST VALUE,39,52,43,60,50,65,TEST VALUE,TEST VALUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,TEST VALUE,50,100,150,100,150,50,TEST VALUE,TEST VALUE
796,719,DiancieMega Diancie,Rock,Fairy,TEST VALUE,50,160,110,160,110,110,TEST VALUE,TEST VALUE
797,720,HoopaHoopa Confined,Psychic,Ghost,TEST VALUE,80,110,60,150,130,70,TEST VALUE,TEST VALUE
798,720,HoopaHoopa Unbound,Psychic,Dark,TEST VALUE,80,160,60,170,130,80,TEST VALUE,TEST VALUE
799,721,Volcanion,Flamer,Water,TEST VALUE,80,110,120,130,90,70,TEST VALUE,TEST VALUE

**Aggregate Statistic**

In [71]:
df = df.drop(columns= ["Legendary"])
df.groupby(["Type 1"]).count()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27
Flamer,52,52,24,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112

**Large Data**

In [72]:
df = pd.DataFrame(columns = df.columns)

for df in pd.read_csv("modified.csv" , chunksize = 5):
    results = df.groupby(["Type 1"]).count()